<div id="container">
    <h1>{{title}}</h1>
    <h2>You are in your private session!</h2>
</div>
<br /><br />

<div><a href="/">Home</a><br /><br />

    <a href="/main">Main session</a><br /><br />

    <a href="/auth/logout">Logout</a><br /><br />

    <img src="/../public/images/kenshiro.gif" alt="Kenshiro" width="500"><br /><br />

</div>